@charset "utf-8";
/*============================================

Layout Style Sheet
Last Update 2010-03-02

* Link Color Setting
* header
        - changeRegion
        - logoSearch
        - globalNav
        - contentsHeader
* contents
        - contents set up
        - divergenceComment
        - localNav
* footer
* clearfix

============================================*/

/*--------------------------------
Link Color Setting
--------------------------------*/
#siteHeader a,#footer a{color:#336; text-decoration:none;}
#siteHeader a:hover,#footer a:hover{color:#336; text-decoration:underline;}
#globalNav a{color:#fff; text-decoration:none;}
#globalNav a:hover{color:#fff; text-decoration:underline;}
.breadcrumbs a{color:#333; text-decoration:none;}
.breadcrumbs a:hover{color:#333; text-decoration:underline;}
#localNav a{color:#353364; text-decoration:none;}
#localNav a:hover{color:#353364; text-decoration:underline;}


/*--------------------------------
header
--------------------------------*/
#siteHeader{background-color:#fff;}
#headerNav{height:30px; background-color:#e2e2f2; /*line-height:1.2;*/} 
.corpInfoNav{padding:9px 10px 0px 17px; float:left; width:auto; overflow:hidden; _zoom:1;}
.corpInfoNav ul{overflow:hidden; margin-left:-0.6em;}
.corpInfoNav ul li{margin-right:-1px; padding:0 0.6em; border-right:#336 1px solid; float:left; width:auto;}

/* changeRegion
--------------------------------*/
.changeRegion{padding:6px 5px 0px 10px; float:right; width:auto; font-size:10px; overflow:hidden; _zoom:1;}
.changeRegion label,
.changeRegion select,
.changeRegion ul{float:left; width:auto; vertical-align:middle;}
.changeRegion label{margin:2px 5px 0 0;}
.changeRegion select{width:220px; color:#666; margin-right:5px; border:none; height:18px;}
.changeRegion ul{margin-top:4px; overflow:hidden; _zoom:1; font-family: '????',Meiryo,'MS P????'; /* 2Byte text */}
.changeRegion ul li{margin-right:-1px; padding:0 6px; border-right:#336 1px solid; float:left; width:auto; font-size:10px;}

/* logoSearch
--------------------------------*/
#logoSearch{padding:14px 16px 13px 25px; overflow:hidden; _zoom:1;}
.companyLogo{float:left; width:auto;}
.searchArea{float:right; width:410px; overflow:hidden; _zoom:1;}
.searchbox{float:left; background:url(../images/bg_searchbox.jpg) left top no-repeat; height:27px; width:285px; padding:5px;}
.searchbox input{color:#666; font-size:12px; float:left; padding:5px; width:170px; margin:0px 5px; border-top:1px solid #8d8d8d; border-left:1px solid #8d8d8d; border-right:1px solid #d4d5d7; border-bottom:1px solid #d4d5d7;}
.searchbox input.searchBtn{width:87px; height:27px; padding:0; margin:0; border:none;}
.searchSub{float:right; width:auto; display:inline; padding:12px 0 0 13px; font-size:10px;}
.searchSub a{padding-left:12px; background:url(../images/icon_arrow_l.gif) left 2px no-repeat;}

/* globalNav
--------------------------------*/
#globalNav{height:24px; background-image:url(../images/bg_gnav.gif); overflow:hidden; _zoom:1;}
#globalNav li{color:#fff; float:left; margin-left:-1px; padding:5px 22px 0 23px; height:19px; background:url(../images/bg_gnav_separates.gif) left 6px no-repeat;}
#globalNav li.selected{color:#353364; background-color:#4040F0;}

/* contentsHeader
--------------------------------*/
#contentsHeader{padding:10px 10px 0;}
#contentsTitle{float:left; width:800px; background:#7f7f7f url(../images/bg_contents_title.gif) left bottom no-repeat;}
#contentsTitle .breadcrumbs{padding:6px 15px; background:url(../images/bg_breadcrumbs.gif) left top no-repeat;}
#contentsTitle h1{padding:10px 15px; color:#fff; font-size:160%; font-weight:bold;}

#pageAction{float:right; width:170px; height:67px; background:url(../images/bg_contents_action.gif) left top no-repeat;}
#pageAction ul{padding:17px 15px;}
#pageAction ul li.feedback{margin-bottom:8px; padding-left:13px; background:url(../images/icon_comment.gif) left center no-repeat;}
#pageAction ul li.printPage{padding-left:13px; background:url(../images/icon_print.gif) left center no-repeat;}


/*--------------------------------
contents
--------------------------------*/

/* contents set up
--------------------------------*/
#contentsWrap{background-color:#fff; padding:10px 10px 20px; clear:both; line-height:1.4;}
#contentsLeftMain{float:left; width:640px;}
#contentsLeft{float:left; width:190px; margin-right:10px;}
#contentsMain{float:left; width:600px; line-height:1.5;}
#contentsRight{float:right; width:190px;}

#chapterTitle{margin-bottom:20px;}


/* divergeComment
--------------------------------*/
#divergeComment{margin-bottom:20px; padding:0 20px 5px; border-bottom:#ccc 1px dotted; color:#336; background:#fff url(../images/icon_diverge.gif) 5px 1px no-repeat;}

/* localNav
--------------------------------*/
#localNav{margin-bottom:30px; word-wrap:break-word; line-height:1.4;}
#localNav li{padding:8px 0 6px 10px; border-bottom:dotted 1px #ccc;}
#localNav li.selected{color:#333; padding-right:10px; }
#localNav li ul{margin-left:10px; border:none;}
#localNav li ul li{border:none; padding:3px 0; font-weight:normal;}
#localNav li.selected ul li{border:none; font-weight:normal;}


/*--------------------------------
footer
--------------------------------*/
#footer{padding:15px; background-color:#fff; border-top:#ddddd5 1px solid;}
#footer p{float:left; width:auto; display:inline;}
#footer ul{float:right; width:auto; display:inline; overflow:hidden; _zoom:1;}
#footer ul li{float:left; width:auto; margin-right:-1px; padding:0 6px; border-right:#336 1px solid;}
#footer ul li img{vertical-align:top;}


/*--------------------------------
clearfix
--------------------------------*/
.clearfix:after,
#contentsWrap:after,
#contentsHeader:after,
#contentsLeftMain:after,
#footer:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.clearfix,
#contentsWrap,
#contentsHeader,
#contentsLeftMain,
#footer{overflow:hidden;}

/* Hides from IE \*/
* html .clearfix,
* html #contentsWrap,
* html #contentsHeader,
* html #contentsLeftMain,
* html #footer{height:1%; overflow:visible;}
