<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.renesas.cdt.launch.dsf.gdbremote.launchConfigurationType">
    <booleanAttribute key=".setStepMode" value="false"/>
    <stringAttribute key="com.renesas.cdt.core.additionalServerArgs" value=""/>
    <intAttribute key="com.renesas.cdt.core.connectionTimeout" value="30"/>
    <stringAttribute key="com.renesas.cdt.core.initCommands" value=""/>
    <stringAttribute key="com.renesas.cdt.core.ipAddress" value="localhost"/>
    <stringAttribute key="com.renesas.cdt.core.jtagDeviceId" value="com.renesas.hardwaredebug.rz.jlink"/>
    <listAttribute key="com.renesas.cdt.core.listGDBExe">
        <listEntry value="arm-none-eabi-gdb"/>
    </listAttribute>
    <listAttribute key="com.renesas.cdt.core.listGDBLaunchName">
        <listEntry value="main"/>
    </listAttribute>
    <listAttribute key="com.renesas.cdt.core.listGDBPort">
        <listEntry value="61234"/>
    </listAttribute>
    <stringAttribute key="com.renesas.cdt.core.optionInitCommands" value=""/>
    <intAttribute key="com.renesas.cdt.core.portNumber" value="61234"/>
    <stringAttribute key="com.renesas.cdt.core.runCommands" value=""/>
    <stringAttribute key="com.renesas.cdt.core.secondGDBExe" value="green_dsp-elf-gdb"/>
    <booleanAttribute key="com.renesas.cdt.core.secondGDBSupport" value="false"/>
    <intAttribute key="com.renesas.cdt.core.secondGdbPortNumber" value="61237"/>
    <stringAttribute key="com.renesas.cdt.core.serverParam" value="-g SEGGERJLINKARM -t R7FA8D1BH -uConnectionTimeout= 30 -uSelect= &quot;USB&quot; -uJLinkSetting= &quot;${workspace_loc:/${ProjName}}/${LaunchConfigName}.jlink&quot; -uJLinkScript= &quot;${workspace_loc:/${ProjName}}/RA8x1_Reset_OSPI.JLinkScript&quot; -uJLinkLog= &quot;${workspace_loc:/${ProjName}}/JLinkLog.log&quot; -uLowPower= 0 -uInteface= &quot;SWD&quot; -uIfSpeed= &quot;4000&quot; -uInitRegisters= 1 -uResetBeginConnection= 1 -uNoReset= 1 -uResetBefDownload= 1 -uResetPreRun= 1 -uResetCon= 1 -uReleaseCM3= 0 -uDisconnectionMode= &quot;1&quot; -uSWOcoreClock= &quot;0&quot; -uEnableSciBoot=  1 -uAuthLevel= &quot;0&quot; -uresetOnReload= 1 -n &quot;0&quot; -uFlashBp= 1 -uSimulation= 1 -ueraseRomOnDownload= 0 -ueraseDataRomOnDownload= 0 -uOSRestriction= 1 -uAllowCachingFlash= 0 -uCPUFrequency= &quot;0&quot; -uCECycle= 1 -uResetBehavior= &quot;Reset&quot;"/>
    <booleanAttribute key="com.renesas.cdt.core.setResume" value="true"/>
    <booleanAttribute key="com.renesas.cdt.core.startServer" value="true"/>
    <stringAttribute key="com.renesas.cdt.core.targetDevice" value="R7FA8D1BH"/>
    <booleanAttribute key="com.renesas.cdt.core.useRemoteTarget" value="true"/>
    <stringAttribute key="com.renesas.cdt.debug.ioview.dsf.registerSelection0" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;selectedRegisterList ioFilePath=&quot;C:\Users\a5124973\.eclipse\com.renesas.platform_1060887218\DebugComp\RA\IoFiles\R7FA8D1BH.svd&quot;/&gt;&#13;&#10;"/>
    <stringAttribute key="com.renesas.cdt.launch.dsf.IO_MAP" value="${support_area_loc}"/>
    <booleanAttribute key="com.renesas.cdt.launch.dsf.USE_DEFAULT_IO_MAP" value="true"/>
    <listAttribute key="com.renesas.cdt.launch.dsf.downloadImages">
        <listEntry value="|true|true|true||true|No core|INTERNAL_MEMORY||false"/>
        <listEntry value="${workspace_loc:\quickstart_ek_ra8d1_ep\src\graphics\graphics.srec}|true|true|false|0|true|No core|INTERNAL_MEMORY||false"/>
    </listAttribute>
    <booleanAttribute key="com.renesas.cdt.launch.dsf.downloadImagesUpgradedV30" value="true"/>
    <listAttribute key="com.renesas.cdt.launch.dsf.externalFlashDestinationAddresses"/>
    <listAttribute key="com.renesas.cdt.launch.dsf.externalFlashDownloadModules"/>
    <stringAttribute key="com.renesas.cdt.launch.dsf.launchSeqType" value="com.renesas.cdt.launch.dsf.launchSequence.e2GdbServer"/>
    <stringAttribute key="com.renesas.cdt.launch.dsf.serverPath" value="${renesas.support.targetLoc:com.renesas.ide.supportfiles.ra.debug.debugSupportFileTarget}\e2-server-gdb"/>
    <listAttribute key="com.renesas.cdt.launch.ui.address.mruList.memoryMonitorExpression">
        <listEntry value="0x90040000"/>
        <listEntry value="0x22093f50"/>
        <listEntry value="0x91000000"/>
        <listEntry value="0c91000000"/>
    </listAttribute>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.break.allowSimulation" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.break.useFlashBreakpoints.resetorrepurposed" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.cfiFlash.enable" value="false"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.cfiFlash.endAddr" value="0x0"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.cfiFlash.flashBusType" value="Reset"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.cfiFlash.flashMemoryType" value="SerialFlash"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.cfiFlash.startAddr" value="0x0"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.cfiFlash.workRam.endAddr" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.cfiFlash.workRam.startAddr" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.disconnectionMode" value="1"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.id_code.format.big_endian" value="false"/>
    <intAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.id_code.input_type" value="0"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.id_code2" value="FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.jlinkScript" value=""/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.registerInit" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.reset" value="false"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.resetAfterDownload" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.resetBeginConnection" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.resetCon" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.resetPreRun" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.setArMModeAfterDownload" value="false"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.connection.swv.coreClockSpeed" value="0"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.enable.hot.plug" value="false"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.eraseDataRomOnDownload" value="false"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.eraseRomOnDownload" value="false"/>
    <intAttribute key="com.renesas.hardwaredebug.arm.jlink.interface.speed" value="4000"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.interface.type" value="SWD"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.ipConnection.connectionMethod" value="0"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.ipConnection.tunnelIdentifier" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.ipConnection.tunnelPassword" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.ipConnection.tunnelPort" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.ipConnection.tunnelServer" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.jlink.ipAddress" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.jlink.logFile" value="${workspace_loc:/${ProjName}}/JLinkLog.log"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.jlink.lowPowerHandling" value="No"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.jlink.scriptFile" value="${workspace_loc:/${ProjName}}/RA8x1_Reset_OSPI.JLinkScript"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.jlink.settingsFile" value="${workspace_loc:/${ProjName}}/${LaunchConfigName}.jlink"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.jlink.type" value="USB"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.jlink.usbSerial" value=""/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.memory.isLittleEndian" value="true"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.nonSecureVectorAddress" value=""/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.options.ArmJLinkDebugToolSettingsTree.prog_rewrite_irom" value="false"/>
    <intAttribute key="com.renesas.hardwaredebug.arm.jlink.options.ArmJLinkDebugToolSettingsTree.rbtm" value="0"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.options.ArmJLinkDebugToolSettingsTree.rbtm.everycycleenable" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.options.ArmJLinkDebugToolSettingsTree.resetAfterReload" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.options.ArmJLinkDebugToolSettingsTree.rtosIntegrationInDebugView" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.options.ArmJLinkDebugToolSettingsTree.rtosintegrationthreadsrunning" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.release.reset" value="true"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.reset.PcOnReset" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.reset.behaviorOfReset" value="Reset"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.reset.setCpsrOnReset" value=""/>
    <intAttribute key="com.renesas.hardwaredebug.arm.jlink.scanChain.drPre" value="0"/>
    <intAttribute key="com.renesas.hardwaredebug.arm.jlink.scanChain.irPre" value="0"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.scanChain.multiDevices" value="false"/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.secureVectorAddress" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.semihosting.breakpointAddress" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.setTZAuthKey" value=""/>
    <stringAttribute key="com.renesas.hardwaredebug.arm.jlink.setTZAuthLevel" value="0"/>
    <booleanAttribute key="com.renesas.hardwaredebug.arm.jlink.setTZBoundaries" value="true"/>
    <booleanAttribute key="com.renesas.hardwaredebug.timemeasurement" value="true"/>
    <intAttribute key="org.eclipse.cdt.debug.gdbjtag.core.delay" value="3"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doHalt" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.doReset" value="false"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageFileName" value="C:\Workspace\01_FSP\QSEP_Confirm\quickstart_ek_ra8d1_ep\e2studio\Debug\quickstart_ek_ra8d1_ep.elf"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.imageOffset" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.initCommands" value=""/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.loadSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.pcRegister" value=""/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.runCommands" value=""/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setPcRegister" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setResume" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.setStopAt" value="true"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.stopAt" value="main"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsFileName" value="C:\Workspace\01_FSP\QSEP_Confirm\quickstart_ek_ra8d1_ep\e2studio\Debug\quickstart_ek_ra8d1_ep.elf"/>
    <stringAttribute key="org.eclipse.cdt.debug.gdbjtag.core.symbolsOffset" value=""/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForImage" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useFileForSymbols" value="false"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForImage" value="true"/>
    <booleanAttribute key="org.eclipse.cdt.debug.gdbjtag.core.useProjBinaryForSymbols" value="true"/>
    <stringAttribute key="org.eclipse.cdt.dsf.gdb.DEBUG_NAME" value="arm-none-eabi-gdb"/>
    <booleanAttribute key="org.eclipse.cdt.dsf.gdb.NON_STOP" value="true"/>
    <intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
    <booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
    <stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/quickstart_ek_ra8d1_ep.elf"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="quickstart_ek_ra8d1_ep"/>
    <booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="false"/>
    <stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/quickstart_ek_ra8d1_ep"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
    <stringAttribute key="org.eclipse.dsf.launch.MEMORY_BLOCKS" value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&lt;memoryBlockExpressionList context=&quot;reserved-for-future-use&quot;/&gt;"/>
    <stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
